<div class="container border-main">
	<header>
        <h2 id="bid-form">
            The Carolinian <b>Bid Form</b>
        </h2>
    </header>
    <div id="CaroMan"></div>
        {{#each rows}}
    <div id="bill">
       <b> Your bill comes out to: <span class="money">{{this.price}}</span></b>
       <br>
        <div>Record locator: <span class="money2">{{this.rec_locator}}</span></div>
    </div>
        {{/each}}
    <div id="ta_3">
        <section id="toast2" hidden>The information is incorrect.<br>  
                Please check your card and try again
        </section>
        <div id="form-container">
            <div id="sq-ccbox">
                <form id="nonce-form" novalidate action="/thanks" method="post">
                    
                    <table>
                        <tbody>
                            <tr>
                                <td>Card Number:</td>
                                <td><div id="sq-card-number"></div></td>
                            </tr>
                            <tr>
                                <td>CVV:</td>
                                <td><div id="sq-cvv"></div></td>
                            </tr>
                            <tr>
                                <td>Expiration Date:</td>
                                <td><div id="sq-expiration-date"></div></td>
                            </tr>
                            <tr>
                                <td>Postal Code:</td>
                                <td><div id="sq-postal-code"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)">
                                        Process payment
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
                    After a nonce is generated it will be assigned to this hidden input field.
                    -->
                    {{!-- <input type="hidden" id="card-nonce" name="nonce"> --}}
                    <input id="card-nonce" name="nonce" hidden>
                    {{!-- <input value="{{rec.price}}" id="_price" name="_price"> --}}
                    {{#each rows}}
                    <input type="number" value="{{this.price_2}}" id="_price_" name="_price_" hidden>
                    <input value="{{this.rec_locator}}" id="r_locator" name="rec_locator" hidden>
                    {{/each}}
                    	<input type="text" id="did_pay" name="did_pay" value="paid" hidden>

                    {{!-- <input value="{{rec.company_name}}" id="comp_name" name="company_name"> --}}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- link to the SqPaymentForm library -->
<link rel="stylesheet" type="text/css" href="squareCss/sqpaymentform.css">
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script type="text/javascript" src="/js/sqpaymentform.js"></script>